*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --icon-hover: #6f42c1;
    list-style-type: none;
    --border-color: rgb(164, 152, 233);
    --dark-gray:#242424;
    color:white;
    --green : #4EE1A0;
}

i{
    display: block;

}

.headercontainer{
    display: flex;
    flex-direction: column wrap;
    background-color: aqua;
    justify-content: space-between;
    padding: 5px 10px;
}

.headericon{
    font-size: 1.3rem;
    display:flex;
    margin-right:3vw;
    gap:40px;
}

.nav-icon:hover{
    color:var(--icon-hover)
}

.productheader{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 10px 0;
}


.addbtn{
    padding:0;
    margin-top: 20px;
    font-size: 30px;
}

.addbtn:hover{
    cursor:pointer;
    scale: 1.1;
    transform : rotate(90deg);
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DOM */
.inputs{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    gap:5px;

}


.hide{
    opacity: 0;
}

.blur{
    filter:blur(1px);
    transition: all .1s ease-in-out;
}


/* FORM OVERLAY */
.overlay{
    display:none;
    position:fixed;
} 

.new_book{
    width: 400px;;
    left:500px;
	border: 3px solid #2ecc71;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	position: relative;
}
#cross{
    float:right;
    background-color: transparent;
    border:0;
    cursor:pointer;
}

form{
    display:flex;
    flex-flow:column wrap;
}

.text-container{
    display:flex;
    flex-flow:column wrap;
}


input{
    display:block;
    border-radius:4px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    padding: 6px 6px 6px 10px;
    margin-top:5px;
    outline:none;
    transition: all .5s ease-in-out;

}

span{
    text-transform:Uppercase;
    transition: all .4s;
}

input:focus~span{
    font-size:10px;
    transform: translateX(4px) translateY(-7px);
    font-size : 0.80em;
    padding : 0 6px;
    color: green;
    background-color: darkcyan;
    color:white;
    border-radius:2px;;
}

.book_input{
    width:100%;
}

#submit_btn{
    cursor:pointer;
    border: 0;

    padding: 10px 50px;
    letter-spacing: .05em;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 17px;
    outline: none;
}



/* main */
.book-list{
    display:flex;
    flex-direction: row;
}

.card{
    margin: 2px 5px;
    height: 100px;
    background-color: aqua;
    width: 200px;
}